@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td
{
	margin: 0;
	padding: 0;
}
ul,ol
{
	list-style: none;
}
fieldset,img,abbr,acronym
{
	border: 0;
}
q:before,q:after
{
	content: '';
}
table
{
	border-collapse: collapse;
	border-spacing: 0;
}
hr
{
	display: none;
}
.cl:after
{
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
.cl
{
	display: inline-block;
}
* html .cl
{
	height: 1%;
}
.cl
{
	display: block;
}
.fl
{
	float: left;
}
.fr
{
	float: right;
}
.button,.text,.select,.textarea
{
	background: #f3f3f3;
	background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
	background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
	border: solid 1px #dcdcdc;
	border-radius: 2px;
	color: #6e6e6e;
	display: inline-block;
	font: bold 12px Helvetica, Arial, sans-serif;
	moz-transition: border .218s;
	o-transition: border-color .218s;
	padding: 7px 12px;
	position: relative;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
	transition: border-color .218s;
	webkit-transition: border-color .218s;
}
.button:hover,.text:hover,.select:hover,.textarea:hover
{
	border-color: #999;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	color: #333;
	moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
}
.button:hover,.text:active,.select:active,.textarea:active
{
	border-color: #444;
	color: #000;
}
body
{
	color: #333;
	font: 12px Arial,serif;
	line-height: 18px;
}
a
{
	color: #333;
	text-decoration: none;
}
a:hover
{
	text-decoration: underline;
}
.wrapper
{
	background: #24BDE2;
}
.main
{
	background: #FFF;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.06);
	margin: auto;
	min-height: 500px;
	padding: 5px 0;
	position: relative;
}
.c, .nav, .main {
    width: 100%;
    padding: 15px;
      -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
}
.c
{
	margin: auto;
}
.toolbar
{
	background: #106db0;
}
.toolbar .l
{
	color: #FFF;
	float: left;
	font-weight: bold;
    width: 100%;
    text-align: center;
}
.toolbar .r
{
	float: none;
    text-align: center;
}
.toolbar .r li
{
    display: inline-block;
    float: none;
}
.toolbar .r a
{
	color: #FFF;
	display: block;
	padding: 5px 10px;
}
.toolbar .r .s
{
	background: url(icon1.png) left no-repeat;
	padding-left: 15px;
	position: relative;
}
.toolbar .r .s .r-s
{
	display: none;
}
.toolbar .r .s .r-s a
{
	display: inline;
}
.toolbar .r .s .r-s p
{
	color: #106DB0;
	padding: 5px;
}
.toolbar .r .s:hover .r-s
{
	background: #f6f6f6;
	border: #ebebeb 1px solid;
	display: block;
	padding: 5px;
	position: absolute;
	right: 0;
	text-align: right;
	top: 28px;
	width: 300px;
}
.nav
{
	background: #ececec url(bg-nav.png) -50px no-repeat;
	border-bottom: #ebebeb 1px solid;
	margin: 0px auto 0 auto;
    text-align: center;
}
.nav .c
{
	position: relative;
}
.nav .c .logo
{
    float: none;
    text-align: center;
}
.nav .fl {
    float: none;
}
.nav .fr {
    float: none;
}
.nav img {
    max-width: 100%;
    margin: auto;
}
.left
{
	background: #FFF;
}
.left .cate
{
	margin-bottom: 0px;
    border-bottom: 1px solid #fff;
}
.left .cate h3
{
	background: #F60 url(dot3.png) no-repeat 5px 7px;
	color: #FFF;
	font-size: 12px;
	padding: 5px 0 5px 25px;
}
.left .cate ul
{
	border: #ebebeb 1px solid;
    display: none;
}
.left .cate a
{
	background: url(dot2.png) 8px 10px no-repeat;
	border-bottom: #ebebeb 1px solid;
	color: #106DB0;
	display: block;
	font-weight: bold;
	height: 1%;
	padding: 6px 5px 6px 18px;
}
.left .cate a:hover
{
	background: #F60 url(dot2.png) 8px 10px no-repeat;
	color: #FFF;
	text-decoration: none;
}
.left .cate li
{
	position: relative;
	z-index: 100;
}
.left .cate li ul
{
	background: #FFF;
	display: none;
	left: 148px;
	position: absolute;
	top: -1px;
	width: 150px;
}
.left .cate li:hover ul
{
	display: block;
}
.content {
    width: 100%;
    float: none;
    margin: 0;
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
}
.intro
{
	margin-bottom: 5px;
}
.intro .slide
{
    float: none;
	width: 100%;

}
.intro .news-h
{
	background: #f6f6f6;
	border: #ebebeb 1px solid;
	float: left;
    margin-top: 20px;
	margin-left: 5px;
	overflow: hidden;
	padding: 0 5px 5px 5px;
	width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.intro .news-h h3
{
	background: url(dot1.png) 0 7px no-repeat;
	color: #106db0;
	font-size: 12px;
	padding: 5px 5px 5px 20px;
}
.intro .news-h a
{
	border-top: #FFF solid 1px;
	color: #106DB0;
	display: block;
	padding: 2px;
}
.nav2
{
	margin-bottom: 5px;
}
.search {
    float: none;
    width: 100%;
}
.search .text
{
    width: 80%;
}
.btn_search
{
	background: url(icon3.png) top left no-repeat;
	border: 0;
	height: 25px;
	width: 25px;
}

.nav2 .menu
{
	background: #106DB0;
	float: left;
    width: 100%;
}
.nav2 .menu li
{
	background: url(line1.jpg) top right no-repeat;
	float: none;
	position: relative;
	z-index: 100;
}
.nav2 .menu li.end
{
	background: none;
}
.nav2 .menu a
{
	color: #FFF;
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	padding: 6px 10px;
}
.nav2 .menu li ul
{
	background: #106DB0;
    display: none;
}
.nav2 .menu a:focus
{
	background: none;
	color: #FFF;
	text-decoration: none;
}
.nav2 .menu li ul li
{
	background: none;
	border-top: 1px solid #FFF;
	float: none;
    padding-left: 15px;
}

.menu .arrow {
    width: 30px;
    height: 30px;
    float: right;
    background: url(arrow.png) no-repeat center;
    display: block;
    cursor: pointer;
}
.nav2 .menu li:hover ul
{
    
}
.icon-cart
{
	background: url(icon2.png) no-repeat 5px 6px;
	color: #FF0;
	padding-left: 18px;
}
.icon-cart:hover
{
	color: #FFF;
}
.content-h
{
	margin-bottom: 10px;
	position: relative;
}
.content-h .ch1
{
	float: none;

}
.content-h .ch2
{
    float: none;
    margin-bottom: 20px;
    padding:15px;
}
.content-h .ch2-home
{
	margin: 0;
	padding: 10px 0;
	width: 100%;
}
.content-h .ch2-home .b1,
.content-h .ch2-home .b2,
.content-h .ch2-home .b3 {
    padding: 0px 15px;
}
.adv
{
	margin-bottom: 10px;
}
.adv p
{
	padding: 2px 0;
	text-align: center;
}
.content-h .ch2 .news-h
{
	margin-bottom: 10px;
}
.content-h .ch2 .news-h h3
{
	background: url(dot1.png) 0 7px no-repeat;
	border-bottom: 2px solid #106DB0;
	color: #106db0;
	margin-bottom: 5px;
	padding: 5px 5px 5px 20px;
}
.content-h .ch2 .news-h a
{
	border-bottom: #EBEBEB solid 1px;
	display: block;
	padding: 5px;
}
.content-h .ch2 .tagcloud
{
	margin-bottom: 10px;
}
.content-h .ch2 .tagcloud h3
{
	background: url(dot1.png) 0 7px no-repeat;
	border-bottom: 2px solid #106DB0;
	color: #106db0;
	margin-bottom: 5px;
	padding: 5px 5px 5px 20px;
}
.footer
{
	background: #106db0;
	color: #FFF;
	padding: 10px 15px;
}
.footer .fl {
    margin-bottom: 10px;
}
.footer .fl,
.footer .fr {
    float: none;   
}
.footer a
{
	color: #FF0;
}
.payment
{
	background: #FFF;
	border: #ebebeb 1px solid;
	padding: 10px;
	text-align: center;
}
.payment img {
    max-width: 100%;
}
.seo-footer
{
	background: #FFF;
	padding: 10px 0;
}
.seo-footer
{
	color: #333;
	display: block;
	padding: 10px 0;
}
.title-c
{
	background: url(bg-m.png) repeat-x bottom;
	color: #106DB0;
	font-size: 13px;
	padding: 8px 5px;
}
.title-c a
{
	color: #333;
	font-weight: bold;
}
.title-c.nv a
{
	color: #333;
	display: block;
	float: left;
	font-weight: bold;
	padding: 0 5px;
}
.title-c h1,.title-c h2
{
	font-size: 13px;
}
.news-l .n
{
	border-bottom: 1px solid #EBEBEB;
	padding: 10px;
}
.news-l .n:hover
{
	border-bottom: 1px solid #2D2D2D;
}
.news-l .n .img
{
	border: 1px solid #EBEBEB;
	float: left;
	height: 100px;
	margin: 0 5px 5px 0;
	width: 100px;
}
.news-l .n h2
{
	font-size: 16px;
	padding-bottom: 2px;
}
.news-l .n .d
{
	color: #999;
	padding-bottom: 5px;
}
.news-l .n .b
{
	height: 90px;
	overflow: hidden;
	text-align: justify;
}
.news-l .n .t
{
	clear: both;
	float: right;
}
.atag a
{
	background-color: #F5F5F5;
	border-bottom: 1px solid #CCC;
	border-right: 1px solid #CCC;
	color: #333;
	display: block;
	float: left;
	margin: 2px;
	padding: 5px;
}
.page
{
	background: url(i-page.png) no-repeat;
	font-weight: bold;
	margin-bottom: 10px;
	padding-left: 30px;text-align: center;
}
.page span
{
	display: inline-block;
	font-size: 14px;
	padding: 5px 10px;
}
.page a
{
    display: inline-block;
	font-size: 14px;
	font-weight: bold;
	padding: 5px;
}
.page a:hover, .page a.page-c
{
	color: red;
	font-weight: bold;
}
.page-top
{
	position: absolute;
	right: 5px;
	top: 1px;
    display: none;
}
.not-found
{
	padding: 10px;
	text-align: center;
}
.news-v
{
	padding: 10px;
	position: relative;
}
.news-v .h1-t
{
	display: block;
	font-size: 16px;
	padding-bottom: 5px;
}
.news-v .d
{
	color: #999;
	font-size: 12px;
}
.news-v .ct
{
	padding-top: 10px;
}
.news-v .ct img {
    max-width: 100%;
}
.news-v .ct p
{
	margin-bottom: 20px;
}
.news-v ul
{
	list-style-type: circle;
	margin: 30px;
}
/*.news-t input[type="text"] {
    width: 100%;
    -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
}*/
blockquote
{
	border-left: 5px solid #E5E5E5;
	color: #666;
	font-style: italic;
	margin: 15px 30px 0 15px;
	padding-left: 15px;
}
pre, xmp, plaintext, listing
{
	display: block;
	font-family: monospace;
	margin: 1em 0px;
	white-space: pre;
}
.news-v .g
{
	position: absolute;
	right: 5px;
	top: 5px;
}
.news-r a
{
	color: #36C;
	display: block;
	font-size: 13px;
	font-weight: normal;
	padding: 5px 0;
}
.comment-c
{
	padding: 10px 0;
}
.comment-c .l
{
	border-bottom: 1px solid #EBEBEB;
	padding: 5px 0;
	position: relative;
}
.comment-c .l:hover
{
	border-bottom: 1px solid #D2D2D2;
}
.comment-c .l .a
{
	border: 1px solid #EBEBEB;
	float: left;
	margin: 0 5px 5px 0;
	width: 40px;
}
.comment-c .l .r
{
	position: absolute;
	right: 5px;
	text-align: left;
	top: 5px;
}
.comment-c .l .r a
{
	color: #999;
	font-size: 12px;
}
.comment-c .l .t a
{
	font-weight: bold;
	line-height: 27px;
}
.comment-c .l .s,.comment-c .l .s a
{
	color: #999;
	text-align: right;
}
.comment-c .l .d
{
	clear: both;
}
.send-c .b
{
	margin: 5px 0;
}
.send-c textarea
{
	width: 97%;
}
.h3-title
{
	border-bottom: 1px solid #EBEBEB;
	color: #DD4B39;
	font-size: 13px;
	margin-bottom: 5px;
	padding: 5px;
}
.answer-l .a
{
	border-bottom: 1px solid #EBEBEB;
	padding: 15px 0;
	position: relative;
}
.answer-l .a:hover
{
	border-bottom: 1px solid #333;
}
.answer-l .a .av
{
	border: 1px solid #EBEBEB;
	float: left;
	margin: 0 5px 5px 0;
	width: 40px;
}
.answer-l .a h2
{
	font-size: 14px;
	padding-bottom: 5px;
}
.answer-l .a.l h2
{
	font-size: 14px;
	padding-bottom: 5px;
}
.answer-l .r
{
    overflow: hidden;
}
.answer-l .d
{
	color: #999;
	font-size: 12px;
}
.answer-l .t
{
	color: #999;
	font-weight: bold;
	line-height: 27px;
}
.notifi
{
	padding: 10px;
}
.notifi p
{
	border-bottom: 1px solid #EBEBEB;
	padding: 10px 0;
}
.notifi a.bold
{
	font-weight: bold;
}
.answer-v
{
	padding: 10px 0;
	position: relative;
}
.answer-v .h1-t
{
	display: block;
	font-size: 16px;
	padding-bottom: 5px;
	width: 600px;
}
.answer-v .a
{
	border: 1px solid #EBEBEB;
	float: left;
	margin: 0 5px 5px 0;
	width: 40px;
}
.answer-v .u
{
	color: #999;
	font-size: 12px;
	overflow: hidden;
	position: absolute;
	right: 10px;
	top: 10px;
	width: 200px;
}
.answer-v .u .n
{
	color: #36C;
	font-weight: bold;
	line-height: 27px;
}
.answer-v .v
{
	padding: 10px 0;
}
.answer-v .e a
{
	color: #999;
	font-size: 12px;
}
.answer-v .s, .answer-v .s a
{
	color: #999;
	text-align: right;
}
.list-u .a
{
	border: 1px solid #EBEBEB;
	float: left;
	margin: 0 5px 5px 0;
	width: 40px;
}
.list-u .u
{
	clear: both;
	padding: 5px 0;
}
.question
{
	font-style: italic;
	font-weight: bold;
	padding: 10px;
}
.question label
{
	float: left;
	padding: 5px 0;
	width: 110px;
}
.question p
{
	padding: 5px 0;
}
.question input.error
{
	border: 1px dotted #F00;
}
.question .textarea
{
	width: 95%;
}
.question .text
{
	width: 670px;
}
.action label
{
	float: left;
	padding: 5px 0;
	width: 80px;
}
.action p
{
	padding: 5px 0;
}
.action input.error
{
	border: 1px dotted #F00;
}
.action p.error
{
	color: #F00;
}
.action p.result
{
	color: #36C;
}
.action .text
{
	margin: 0 0px;
    width: 65%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.action .register
{
	padding: 15px;
    margin-bottom: 20px;
}
.action .register .openid
{
	font-style: normal;
	font-weight: normal;
}
.action .login
{
	padding: 15px;
}
.action .login .r
{
	font-weight: normal;
}
.action .login .text
{
	margin: 0 3px;
	width: 235px;
}
.action .forgot
{
	padding: 10px;
}
.table-list
{
	border: 1px solid #d9d9d9;
	border-radius: 4px;
}
.table-list input[type="text"],select
{
	text-align: center;
}
.table-list table
{
	text-align: center;
}
.table-list th
{
	background: #d9d9d9;
	padding: 5px 0;
}
.table-list th a
{
	display: block;
}
.table-list th a:hover
{
	color: #136291;
}
.table-list tbody td
{
	border-bottom: 1px solid #d9d9d9;
	padding: 5px 2px;
}
.table-list tbody tr
{
	background: #F5F5F5;
}
.table-list tbody tr:hover
{
	background: #f1f1f1;
	border-left: 4px solid #136291;
}
.table-list tbody .subject
{
	text-align: left;
}
.table-list tbody .subject a:hover
{
	color: #136291;
}
.table-list tbody .edit
{
	visibility: hidden;
}
.table-list tbody .edit a
{
	border-left: 1px solid #CCC;
	display: block;
	float: left;
	padding: 0 5px;
}
.table-list tbody tr:hover .edit
{
	visibility: visible;
}
.table-list tbody .subject .title
{
	font-weight: bold;
}
.table-list tbody .title
{
	font-weight: bold;
	padding: 5px;
	text-align: left;
}
.bill_total
{
	text-align: right;
}
.bill_total label
{
	float: left;
	width: 850px;
}
.list-p
{
	border: #EBEBEB 1px solid;
	margin-bottom: 10px;
}
.list-p .item
{
	padding: 10px 9px;
	overflow: hidden;
      min-height: 295px;
	text-align: center;
    width: 50%;
    float: left;
    -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.price
{
	color: #F00;
	font-weight: bold;
}
.promotion
{
	color: #F00;
	font-weight: bold;
}
.list-p .item .title
{
	color: #106DB0;
	display: block;
	font-size: 12px;
	height: 60px;
	overflow: hidden;
}
.list-p .item .event
{
	position: absolute;
	right: 0;
	top: 5px;
}
.list-p .item .event .pr
{
	background: url(bg-price.png) center no-repeat;
	color: #FFF;
	display: block;
	font-size: 16px;
	font-weight: bold;
	padding: 20px 10px;
	text-align: center;
}
.list-p .item .event .gift
{
	background: url(bg-gift.png) center no-repeat;
	display: block;
	height: 50px;
	width: 50px;
}
.list-p .item .p-img
{
	border: #EBEBEB 1px solid;
	height: 153px;
	margin: 2px 0;
	overflow: hidden;
	padding: 1px;
	position: relative;
	text-align: center;
}
.list-p .item .p-img img{
    margin: auto;
    max-width: 100%;
}
#divToolTip img
{
	text-align: center;
}
#divToolTip p
{
	padding: 2px 10px;
}
#divToolTip .title
{
	font-size: 18px;
}
.product-v
{
	padding: 10px;
}
.product-v .h1-t
{
	color: #106DB0;
	display: block;
	font-size: 18px;
	padding-bottom: 5px;
}
.product-v .p-image
{
	float: left;
	width: 100%;
    text-align: center;
}
.product-v .p-image img {
    margin: auto
}
.product-v .p-info
{
	float: left;
    margin: 0;
	width: 100%;
}
.product-v .price
{
	font-size: 16px;
}
.product-v .p-brief
{
	padding: 5px 0;
}
.product-v .p-promotion
{
	padding: 5px 0;
}
.product-v .p-action a
{
	background: #f3f3f3;
	background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
	background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
	border: solid 1px #dcdcdc;
	border-radius: 2px;
	color: #6e6e6e;
	display: inline-block;
	font: bold 12px Helvetica, Arial, sans-serif;
	moz-transition: border .218s;
	o-transition: border-color .218s;
	padding: 7px 12px;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
	transition: border-color .218s;
	webkit-transition: border-color .218s;
}
.product-v .p-action a:hover
{
	color: #106DB0;
}
.product-v .p-action p
{
	padding: 2px 0;
}
.product-v .p-content
{
	padding-top: 10px;
}
.product-v .p-content img {
    max-width: 100%;
}
.product-v .p-content p
{
	margin-bottom: 20px;
}
.product-v .p-content ul
{
	list-style-type: circle;
	margin: 30px;
}
.p-zoom
{
	height: 300px;
	width: 100%;
}
.p-thumb
{
	margin: 5px 0;
}
.p-thumb li
{
	border: 1px solid #ccc;
	float: left;
	margin: 2px;
	padding: 5px;
}
.p-thumb li:hover
{
	border: 1px solid #106DB0;
}

#tooltip
{
	background-color: #FFF;
	box-shadow: inset 0 0 5px #106DB0;
	max-width: 380px;
	padding: 10px;
	position: absolute;
	z-index: 3000;
}
#tooltip .title
{
	color: #106DB0;
	font-size: 16px;
	font-weight: bold;
	padding: 5px 0;
}
#tooltip p
{
	padding: 2px 0;
}
.tooltip_content
{
	display: none;
}
.cart-a
{
	float: right;
	text-align: right;
}
.cart-a .i
{
	width: 300px;
}
.poll_view
{
	padding: 5px;
}
.poll_view h3
{
	padding: 5px 0;
}
.poll_form p
{
	padding: 2px 0;
}
.product_h
{
	clear: both;
	padding: 5px;
}
#product_history li
{
	margin: 10px 0;
	width: 200px;
}
#product_history .item_h
{
	box-shadow: inset 0 0 5px #CCC;
	height: 160px;
	margin: 5px;
	padding: 15px 10px;
	text-align: center;
	width: 160px;
}
.account
{
	padding: 10px 10px;
	width: 600px;
}
.account .avt p img
{
	height: 49px;
	width: 50px;
}
.account .info p span
{
	padding-left: 10px;
}
.ui-autocomplete-loading
{
	background: white url('ui-anim_basic_16x16.gif') right center no-repeat;
}
.right-banner,.left-banner
{
	position: fixed;
	top: 28px;
	z-index: 200;
}
.image-right-banner,.image-left-banner
{
	max-width: 150px !important;
}

@media (min-width: 768px) {
    .c, .nav, .main{
        width: 750px;
        padding: 0;
          -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box;
    }
    .nav2 .menu {
        width: auto;
    }
    
    .list-p .item {
         width: 33.33333333%;  min-height: 280px;
        float: left;
        padding: 0px 15px;
        -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
    }
    .list-p .item .p-img {
        width: 100%;
         -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
    }
    
    .search {
        float: right;
        width: auto;
    }
    .search .text {
        width: 135px;
    }
    .content-h .ch2-home .b1,
    .content-h .ch2-home .b2,
    .content-h .ch2-home .b3
    {
	    width: 33.33333333%;
        float: left;
        padding: 0px 15px;
        -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
    }
    .toolbar{
	    
	    position: fixed;
	    top: 0;
	    width: 100%;
	    z-index: 101;
    }
    .toolbar .l {
        width: auto;
        text-align: left;
    }
    .toolbar .r {
        float: right;
        text-align: left;
    }
    
    .toolbar .r li {
        float: left;
        display: block;
    }
    
    .nav {
	    margin: 28px auto 0 auto;
    }
    .product-v .p-image
    {
	    float: left;
	    width: 260px;
        text-align: left;
    }
    .p-zoom {
        width: 260px;
    }
    .product-v .p-info
    {
	    float: left;
	    margin-left: 20px;
	    width: 450px;
    }
    .action .text
    {
	    margin: 0 3px;
	    width: 330px;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box
    }
}

@media (min-width: 992px) {
    .left {
        width: 150px;
        float: left;
        margin-left: 5px;
    }
    .c, .nav, .main{
        width: 1000px;
        padding: 0;
         -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box;
    }
    .content {
        width: 835px;
        float: left;
        margin: 0px 5px;
    }
    .nav2 .menu {
        width: 610px;
    }
    .list-p .item {
        margin: 10px 9px;
        padding: 0;
        float: left;
        height: 250px;min-height: 100%;
        width: 190px;
    }
    .list-p .item .p-img {
        width: 185px;
    }
    .search .text {
        width: 165px;
    }

    .content-h .ch2-home .b1{
	    float: left;
	    width: 270px;
        padding: 0;
    }
    .content-h .ch2-home .b2{
	    float: left;
	    margin-left: 5px;
	    width: 200px;
        padding: 0;
    }
    .content-h .ch2-home .b3{
	    float: left;
	    margin-left: 5px;
	    width: 200px;
        padding: 0;
    }
    .content-h .ch2-home .b4{
	    float: left;
	    margin-left: 5px;
	    width: 150px;
    }
      .toolbar .l {
  float: left;
  color: #FFF;
  font-weight: bold;
}
    .nav .c .logo{
	    float: left;
	    padding: 0 40px;
    }
    .nav .c .logo
    {
        text-align: left;
    }
    .nav .fl {
        float: left;    
    }
    .nav .fr {
        float: right;
    }
    .nav {
        text-align: left;
    }
    .footer
    {
	    padding: 10px 0;
    }
    .footer .fl {
        float: left;
        margin-bottom: 0;
    }
    .footer .fr {
        float: right;
    }
    .product-v .p-image
    {
	    width: 300px;
    }
    .p-zoom {
        width: 300px;
    }
    .product-v .p-info
    {
	    
	    width: 450px;
    }
    .action .register
    {
	    float: left;
	    padding: 10px;
	    width: 450px;
    }
    .action .login
    {
	    float: left;
	    padding: 10px 0;
	    width: 350px;
    }
    .page{
        text-align: left;
    }
    .page span
    {
	    display: block;
	    float: left;
	    font-size: 14px;
	    padding: 5px 10px;
    }
    .page a
    {
	    display: block;
	    float: left;
	    font-size: 14px;
	    font-weight: bold;
	    padding: 5px;
    }
    .page-top {
        display: block
    }
    .content-h .ch1
    {
	    float: left;
	    width: 610px;
    }
    .left .cate {
        margin-bottom: 10px;
        border: none;
    }
    .left .cate ul
    {
        display: block;
    }
    .nav2 .menu li
    {
	    background: url(line1.jpg) top right no-repeat;
	    float: left;
	    position: relative;
	    z-index: 100;
    }
    .answer-l .a h2
    {
	    font-size: 14px;
	    padding-bottom: 5px;
	    width: 700px;
    }
        .answer-l .a.l h2
    {
	    font-size: 14px;
	    padding-bottom: 5px;
	    width: 470px;
    }
        .answer-l .r
    {
	    position: absolute;
	    right: 5px;
	    text-align: left;
	    top: 10px;
    }
        .content-h .ch2
    {
	    float: left;
	    margin-left: 5px;
	    width: 218px;
            padding: 0;
            margin-bottom: 0;
    }
        .content-h .ch2-home {
      margin: 0;
      padding: 10px 0;
      width: 835px;
    }
       
    .action .text
    {
	    margin: 0 3px;
	    width: 330px;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box
    }
    .intro .slide
    {
	    float: left;
	    width: 610px;
    }
    .intro .news-h
    {
	    background: #f6f6f6;
	    border: #ebebeb 1px solid;
	    float: left;
	    height: 213px;
	    margin-left: 5px;
        margin-top: 0;
	    overflow: hidden;
	    padding: 0 5px 5px 5px;
	    width: 208px;

        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
    }
    .list-p .item .title
    {
	    color: #106DB0;
	    display: block;
	    font-size: 12px;
	    height: 45px;
	    overflow: hidden;
    }
    .nav2 .menu li ul
    {
	    background: #106DB0;
	    display: none;
	    left: 0;
	    position: absolute;
	    top: 30px;
	    width: 180px;
    }
    .nav2 .menu li:hover ul
    {
        display: block;
    }
    .menu .arrow {
        display: none;
    }
    .nav2 .menu a:hover
    {
	    background: #F60;
	    color: #FFF;
	    text-decoration: none;
    }
    .nav2 .menu li ul li {
        padding-left: 0;
    }
    .product-v .p-action a {
        width: 120px;
    }
}
@media(max-width: 480px) {
    .product-v .p-action a {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 5px;
    }
}
/*=== EXTEND ======*/
.intro {
    
}
/*======= RESPONSIVE VIDEO =========*/
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
video {
  width: 100%    !important;
  height: auto   !important;
}