@{Response.Status = "404 Not Found";}
@{Response.StatusCode = 404;}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Xin hãy thử lại!</title>
<meta name="robots" content="noindex,nofollow" />
<style>
    html, body {height: 100%;}
    body{background:url(/Source/404.png) no-repeat center center;}
</style>
</head>
<body>
</body>
</html>
