/* @override http://localhost/bxslider_v3_plugin/css/styles.css */

/*
 * To change the color scheme of slider change each 
 * background property for each of the five styles below
 */

/*next button*/
.bx-next {
	position:absolute;
	top:40%;
	right:20px;
	z-index:999;
	width: 13px;
	height: 41px;
	text-indent: -999999px;
	background: url(v_arrow.png) no-repeat -13px 0;
}

/*previous button*/
.bx-prev {
	position:absolute;
	top:40%;
	left:10px;
	z-index:999;
	width: 13px;
	height: 41px;
	text-indent: -999999px;
	background: url(v_arrow.png) no-repeat 0 0;
}

/*pager*/
.bx-pager{text-align: center;}
.bx-pager a{font-size: 16px; color: #838383; padding: 0 10px; font-weight:bold;}
.bx-pager .pager-active, .bx-pager a:hover{color: #de312a; text-decoration: none;}