<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>

  <connectionStrings>    
    <add name="babycuatoi_dbConnectionString" connectionString="Data Source=112.213.94.94;Initial Catalog=babycuatoi_db;User ID=babycuatoi_u;Password=babycuatoi123123!" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>    
    <add key="Main.ConnectionString" value="data source=112.213.94.94;initial catalog=babycuatoi_db;UID=babycuatoi_u;PWD=babycuatoi123123!"/>    
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="salt" value="%$#*ghsd gksdfjk@@#E534rtdjkn[][]-098@klldfslfh0-0-9=--idfgklsjdnys;/';l[er0-5460e8tu2io3u89y7" />

    <add key="GOOGLE_ID" value="116602647998496576269"/>
    <add key="Domain" value="babycuatoi.vn"/>
    
    <!-- Mail config -->
    <add key="MAIL_SMTP" value="smtp.gmail.com"/>
    <add key="MAIL_SMTP_POST" value="465"/>
    <add key="MAIL_POP3" value="pop.gmail.com"/>
    <add key="MAIL_POP3_POST" value="465"/>
    <add key="MAIL_USERNAME" value="response@acutevn.com"/>
    <add key="MAIL_PASSWORD" value="qweqwe123123"/>
    <add key="MAIL_TO" value="igoovn@gmail.com"/>

    <add key="aspnet:MaxHttpCollectionKeys" value="1000000" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="1000000" />
    
    
  </appSettings>
    
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
      <add verb="*" path="wcp.axd" type="Neodynamic.SDK.Web.WebClientPrint, Neodynamic.SDK.WebClientPrint"/>      
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>

    <customErrors defaultRedirect="sitemap/news" mode="Off">
      <error statusCode="500" redirect="sitemap/news" />
      <error statusCode="404" redirect="sitemap/news" />
      <error statusCode="403" redirect="sitemap/news" />
    </customErrors>
    
    <httpRuntime requestValidationMode="2.0" maxQueryStringLength="2097151" />
    <!--<httpRuntime encoderType="AntiXssEncoder, iGoo"/> -->
    

  </system.web>


  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      <add name="WCP" verb="*" path="wcp.axd" type="Neodynamic.SDK.Web.WebClientPrint, Neodynamic.SDK.WebClientPrint"/>
    </handlers>

    <security>
      <requestFiltering>
        <requestLimits maxQueryString="256000"/>
      </requestFiltering>
    </security>
    
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
